WP_ENV=development
WP_HOME=http://localhost:8080
WP_SITEURL=${WP_HOME}/wp

DB_NAME=prophet
DB_USER=prophet
DB_PASSWORD=prophet
DB_HOST=db

AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=

PROPHET_EMAIL=
PROPHET_PHONE_1=+22897169090
PROPHET_PHONE_2=+2348119265483

GOOGLE_API_KEY=
GOOGLE_CALENDAR_ID=
YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_ID=
